
@{ 

    Layout = null;
}
@model  MarDom.Web.Models.RegisterViewModel
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Retail | Registrar</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <style>
        .gray-bg, .bg-muted {
            background-color: #ffffff;
        }
    </style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div class="center-orientation">

           
            <a href="#" class="center"><img src="~/img/MaritimaDominicana.png" style="width: 100px;"></a>
        </div>
        <div>
           
            <p>Registro de usuario</p>

            
         @using (Html.BeginForm("Register", "Account",FormMethod.Post))
         {
            @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.TextBoxFor(t=>t.Nombres , new {@class = "form-control" , @placeholder = "Nombre"   })
                 
                 
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(t => t.Apellidos, new { @class = "form-control", @placeholder = "Apellidos" })
               
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(t => t.UserName, new { @class = "form-control", @placeholder = "Nombre de usuario" })
                 
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(t => t.Email, new { @class = "form-control", @placeholder = "Correo" ,@type="email" })
                  
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(t => t.Password, new { @class = "form-control", @placeholder = "Password", @type= "password" })
                  
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(t => t.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar Password", @type = "password" })
                  
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Registrar</button>

         }
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Login", "Account")">Entrar</a>
        
         


         
            <p class="m-t"> <small>Retail &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

</body>

</html>


