<!DOCTYPE html>
<html ng-app="Mardom.HelpDesk">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HelpDesk | @ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}
     
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->     
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <style>
        .navbar-fixed-top, .navbar-static-top {
            background: #ffffff;
        }
    </style>
    <style>
        body {
            font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color: #002e5d;
            font-size: 13px;
            color: #002e5d;
            overflow-x: hidden;
        }
        .nav > li > a {
    color: #ffffff;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

        .nav > li.active {
    border-left: 4px solid #f5f5f5;
    background: #002e5d;
}

        .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background-color: #09417a;
    border-bottom-width: 1px;
}

    </style>

    <style>
        .my-drop-zone {
            border: dotted 3px lightgray;
        }

        .nv-file-over {
            border: dotted 3px red;
        }
        /* Default class applied to drop zones on over */
        .another-file-over-class {
            border: dotted 3px green;
        }

        html, body {
            height: 100%;
        }
    </style>
</head>
<body>

    <!-- Skin configuration box -->
    <!-- @Html.Partial("_SkinConfig") -->

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")
            <div id="MainView">
   
                <!-- Main view  -->
                @RenderBody()

            </div>
          

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")

    </div>
    <!-- End wrapper-->

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")
   

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
 

    @Scripts.Render("~/plugins/chartjs")
    <script src="~/Scripts/autocomplete/autocomplete.js"></script>
    <script src="~/Scripts/plugins/angular-chart/angular-chart.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/Services/TicketService.js"></script>
    <script src="~/js/Services/UsuarioService.js"></script>
    <script src="~/js/Directivas/autocomplete.js"></script>

    <script src="~/js/Controllers/DashboardController.js"></script>
    <script src="~/js/Controllers/TicketController.js"></script>
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)


</body>
</html>
